body{
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    border: 1px solid gray;
    padding: 16px;
    border-radius: 1em;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

form{
    text-align: center;
}

small{
    padding: 10px;
}

#password{
    margin-bottom: 5px;
}

#button{
    margin-top: 13px;
}

input{
    width: 75px;
}